# Gradle
.gradle
/build
/composeApp/build/
/iosApp/build/

# Kotlin / KMP
.kotlin
**/build/
*.iml
*.ipr
*.iws
.idea/

# Signing & Secrets
key.properties
local.properties
signing/*.jks
signing/*.pfx
**/*.jks
**/*.pfx

# Desktop Distributions
/composeApp/build/compose/binaries/
/arch_build/
*.pkg.tar.zst

# Android specifics
.externalNativeBuild
.cxx
/captures/
